<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Box Example</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{~/css/index.css}">-->
    <style>
        .invoice-table {
            width: 100%;
            border-collapse: collapse;
        }
        .invoice-table th, .invoice-table td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;

        }
        .subtotal-row {
            background-color: #f2f2f2;
            font-weight: bold;
        }
    </style>
</head>
<body>
<table  class="invoice-table"  th:each="user:${users}"  >



        <thead>
        <tr>
            <th colspan="2">Item</th>
            <th  colspan="2">Description</th>

        </tr>
        </thead>
        <tbody>
        <tr >
            <td colspan="2">
                <p>Seller:</p>
                <p th:text="${user.seller}">Seller</p>
                <p th:text="${user.sellerAddress}">are:</p>
                <p th:text="${user.sellerGstin}">gst:</p>
            </td>

            <td colspan="2">
                <p>Buyer:</p>
                <p th:text="${user.buyer}">Buyer</p>
                <p th:text="${user.buyerAddress}">are:</p>
                <p th:text="${user.buyerGstin}">gst:</p>
            </td>

        </tr>
        <tr>
            <td colspan="1">Item</td>
            <td colspan="1">Quantity </td>
            <td colspan="1">rate</td>
            <td colspan="1">Amount</td>

        </tr>
        <tr>
            <td th:text="${user.items[0].name}"  colspan="1"></td>
            <td  th:text="${user.items[0].quantity}" colspan="1"></td>
            <td th:text="${user.items[0].rate}" colspan="1"></td>
            <td th:text="${user.items[0].amount}" colspan="1"></td>

       </tr>


       <tr>
          <td colspan="4">
               <p></p>
                <p></p>
            </td>

        </tr>
        </tbody>
    </table>
</body>
</html>
